*{
    background: black;
}

body{
    color: white;
    font-family: VCR Mono;
    margin: 0px auto;
    text-align: center;
}

button{
    background-color: grey;
    color: cyan;
}

#head_text{
    color: green;
}

table{
    margin: 0px auto;
    text-align:center;
}

select{
    color: white;
}

input{
    background-color: white;
}

.oculto{
    display:none;
}